literature/articles/iTransformer-Inverted_Transformers_Are_Effective_for_Time_Series_Forecasting_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/MLP-Mixer-An_all-MLP_Architecture_for_Vision_Tolstikhin_Google_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_Time_Series_is_Worth_64_Words-Long-term_Forecasting_with_Transformers_Nie_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_decoder-only_foundation_model_for_time-series_forecasting_Das_Google_April_2024_Preprint.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Chronos-Learning_the_Language_of_Time_Series_Fatir_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Lag-Llama-Towards_Foundation_Models_for_Probabilistic_Time_Series_Forecasting_Rasul_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Unified_Training_of_Universal_Time_Series_Forecasting_Transformers_Woo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/TSMixer-An_All-MLP_Architecture_for_Time_Series_Forecasting_Chen_Google_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Exploring_the_Limits_of_Transfer_Learning_with_a_Unified_Text-to-Text_Transformer_Raffel_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/N-BEATS-Neural_basis_expansion_analysis_for_interpretable_time_series_forecasting_Oreshkin_ElementAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/TSMixer-Lightweight_MLP-Mixer_Model_for_Multivariate_Time_Series_Forecasting_Ekambaram_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/GluonTS-Probabilistic_Time_Series_Models_in_Python_Alexandrov_AWS_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Temporal_Fusion_Transformers_for_Interpretable_Multi-horizon_Time_Series_Forecasting_Lim_OxfordU_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/decoder_only_transformers/Transformers_need_glasses_Information_over-squashing_in_language_tasks_Barbero_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Forecasting_Principles_and_Practice_Hyndman_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Chronos-Learning_the_Language_of_Time_Series_Ansari_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/How_to_Effectively_Forecast_Time_Series_with_Amazon_New_Time_Series_Forecasting_Model_by_Eivind_Kjosbakken_TowardsDataScience.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Are_Language_Models_Actually_Useful_for_Time_Series_Forecasting_Tan_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_Survey_of_Time_Serie_Foundation_Models_Generalizing_Time_Series_Representation_with_LLM_Ye_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Will_Transformers_Revolutionize_Time-Series_Forecasting_Advanced_Insights_Part_1_Nikos_Kafritsas_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Fuzzy_inference_based_LSTM_for_long_term_time_series_prediction_Wang_Nature_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Understanding_Different_Design_Choices_in_Training_Large_Time_Series_Models_Chuang_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Chatfield_The_Analysis_of_Time_Series_An_Introduction_5ed.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KernelMethods_for_TimeSeriesData_Tang_2015_Thesis.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_Stable_Linear_Dynamical_Systems_Boots_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Multi-View_Kernel_PCA_for_Time_Series_Forecasting_Pandey_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/VisionTS-Visual_Masked_Autoencoders_are_Free-Lunch_Zero-Shot_Time_Series_Forecasters_Chen_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/InferenceAndMachineLearningNotes_Deisenroth_ImperialCollege_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/TimeGPT-1_Garza_Nixtla_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/TimeSeriesAnalysisAndItsApplications.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/N-HiTS-Neural_Hierarchical_Interpolation_for_Time_Series_Forecasting_Challu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/iTransformer-Inverted_Transformers_Are_Effective_for_Time_Series_Forecasting_Liu_ICLR_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/SAMformer-Unlocking_the_Potential_of_Transformers_in_Time_Series_Forecasting_with_Sharpness-Aware_Minimization_and_Channel-Wise_Attention_Ilbert_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Generative_adversarial_networks_in_time_series-A_systematic_literature_review_Brophy_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_Time_Series_is_Worth_64_Words-Long-term_Forecasting_with_Transformers_Nie_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_decoder-only_foundation_model_for_time-series_forecasting_Das_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Autoformer-Decomposition_Transformers_with_Auto-Correlation_for_Long-Term_Series_Forecasting_Wu_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Crossformer-Transformer_Utilizing_Cross-Dimension_Dependency_for_Multivariate_Time_Series_Forecasting_Zhang_ICLR_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/genetic_algortithms/Kureychick_2019_J_Phys__Conf_Ser.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Time_Series_Analysis_Forecasting_and_Control_Box_2016.pdf filter=lfs diff=lfs merge=lfs -text
